- name: Update apt
  apt:
   update_cache: yes

- name: Install atop package
  package:
    name: atop
    state: present
  notify: Enable and start atop service

- name: Install base packages
  apt:
    name: "{{ base_packages }}"
    state: present

- name: Create deploy user
  user:
    name: "{{ deploy_user }}"
    shell: /bin/bash
    groups: sudo
    append: yes

